<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
 
        <form class="login-form" action="/signup" method="POST" novalidate>
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    class=""
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= oldInput.email %>">
            </div>
            <% for(error of errors){  %>
                <% if(error.name === 'email') {%> 
                    <small style="color: red;"><%= error.message %></small>    
                <%} %>
            <%} %>
            <div class="form-control">
                <label for="email">Name</label>
                <input 
                    class=""
                    type="text" 
                    name="name" 
                    id="name" 
                    value="<%= oldInput.name %>">
            </div>
            <% for(error of errors){  %>
                <% if(error.name === 'name') {%> 
                    <small style="color: red;"><%= error.message %></small>    
                <%} %>
            <%} %>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    class=""
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>">
            </div>
            <% for(error of errors){  %>
                <% if(error.name === 'password') {%> 
                    <small style="color: red;"><%= error.message %></small>    
                <%} %>
            <%} %>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                    class=""
                    type="password" 
                    name="confirmPassword" 
                    id="confirmPassword" 
                    value="">
            </div>
            <% for(error of errors){  %>
                <% if(error.name === 'confirmPassword') {%> 
                    <small style="color: red;"><%= error.message %></small>    
                <%} %>
            <%} %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Signup</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>